.wrapper {
    display: flex;
    margin-left: var(--sidebar-width);
}

.content {
    left: 0;
    flex: 1;
    color: var(--content-color);
    padding-top: var(--default-layout-header-height);
    min-height: calc(100vh - var(--default-layout-footer-height));
}
