.wrapper {
    display: flex;
    margin-left: var(--sidebar-width);
}

.content {
    left: 0;
    flex: 1;
    color: var(--content-color);
    background-color: var(--content-background-color);
}
