.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--sidebar-width));
    border-bottom: 1px solid var(--header-border-bottom-color);
}


.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--default-layout-header-height);
    padding: 0 calc(var(--sidebar-width) / 2);
    background-color: var(--header-background-color);
    border-top: solid 3px var(--sidebar-background-color);
    user-select: none;
    z-index: 10;

    
    .logo {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: var(--default-layout-sidebar-width);
        background-color: none;
        color: var(--text-color);
        border-radius: 5px;
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        cursor: pointer;
    }

}

.active {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 160px;
    height: 40px;
    //background-color: var(--sign-up-button-background-color);
    border-radius: 100px;
}

.sign-up {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--sign-up-button-color);
    background-color: var(--sign-up-button-background-color);
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: var(--active-opacity);
    }
}

.log-in {
    position: absolute;
    right: 0;
    height: 100%;
    color: var(--login-button-color);
    background-color: var(--login-button-background-color);
    border: 0;
    &:active {
        opacity: var(--active-opacity);
    }
}

//avatar
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.announcement {
    color: var(--sidebar-active-color);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: var(--sidebar-background-color);
    }
}

.count-announcement {
    position: absolute;
    content: '';
    width: 30px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    right: 43px;
    top: 0px;
    padding: 1px 3px;
    background-color: var(--primary);
    color: var(--while);
    border: 1px solid var(--primary);
    border-radius: 100px;
    pointer-events: none;
}
