.search {
    display: flex;
    align-items: center;
    height: var(--search-height);
    width: 450px;
    margin: 0px;
    padding: 0 13px 0 10px;
    border: solid 2px var(--main-color-blur);
    border-radius: 100px;

    .input {
        height: 100%;
        padding: 0 7px 0 5px;
        background-color: transparent;
        color: var(--text-color);
        font-size: var(--search-font-size-text);
        outline: none;
        border: none;
        flex: 1 1;
    }

    input:not(:placeholder-shown) ~ .status {
        display: flex;
    }

    &:focus-within {
        border-color: var(--main-color-blur);
        box-shadow: 0px 0px 5px 1px var(--main-color-blur);
    }
}

.status {
    display: none;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 20px;
    right: 10px;
    color: var(--main-color-blur);
    cursor: pointer;

    &:hover {
        color: var(--main-color);
    }

    &:active {
        color: var(--main-color);
        opacity: 0.8;
    }
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 6px;
    color: var(--main-color-blur);
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        color: var(--main-color);
    }

    &:active {
        opacity: var(--active-opacity);
    }
}
