.search {
    display: flex;
    align-items: center;
    height: var(--search-height);
    width: 450px;
    margin: 0px;
    padding: 0 13px 0 10px;
    border: solid 2px var(--search-color);
    border-radius: 100px;
    background-color: var(--search-color);

    .input {
        height: 100%;
        padding: 0 7px 0 5px;
        background-color: transparent;
        color: var(--text-color);
        font-size: var(--search-font-size-text);
        outline: none;
        border: none;
        flex: 1 1;
    }

    input:not(:placeholder-shown) ~ .status {
        display: flex;
    }

    // &:focus-within {
    //     border-color: var(--search-color-dark);
    //     box-shadow: 0px 0px 3px 1px var(--search-color-light);
    // }

        
    .status {
        display: none;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 20px;
        right: 10px;
        color: var(--search-status-color);
        cursor: pointer;

        &:hover {
            color: var(--search-status-color-hover);
        }

        &:active {
            opacity: 0.8;
        }
    }

    .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 6px;
        color: var(--text-color);
        background-color: var(--search-color);
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 1;
        }
    }

}
