.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    height: 100vh;
    width: var(--sidebar-width);
    color: var(--sidebar-color);
    background-color: var(--sidebar-background-color);
    overflow: hidden;
}

.items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    padding: 13px;
    color: var(--sidebar-color);
    opacity: var(--active-opacity);
    cursor: pointer;

    &:active {
        opacity: var(--active-opacity);
    }

    &.active,
    &.active:hover {
        color: var(--sidebar-active-color);
        opacity: 1;
        background-color: var(--dark-mode-background-color);
    }   

    &:hover {
        opacity: var(--active-opacity);
        opacity: 1;
        background-color: var(--dark-mode-background-color);
    }
}

.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    padding: 7px;
}